.modal {
  width: 728px;
  min-height: 444px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $bg-light-grey;
  z-index: $zindex-modal;
  display: none;

  @media (max-width: $mobile-width) {
    width: 100%;
    height: 100vh;
    background-color: $basic-white;
  }
}

.modal--buy {
  background: $bg-modal url("../img/bg-modal-desktop.jpg") no-repeat;
  background-size: contain;
  display: none;

  @media (max-width: $mobile-width) {
    background-image: none;
  }
}

.modal--show {
  display: flex;
}

.modal__content {
  margin-left: 338px;
  padding: 70px 60px 90px;
  text-align: center;
  background-color: $bg-light-grey;

  @media (max-width: $mobile-width) {
    display: flex;
    height: 100vh;
    margin-left: 0;
    padding: 16px;
    background-color: $basic-white;
    align-items: center;
  }
}

.modal__heading {
  @include offset;
  margin-bottom: 50px;
  font-size: 25px;
  line-height: 43px;
  font-weight: 600;
  color: $additional-dark;
}

.modal__input {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 15px;
  font-family: inherit;
  font-size: 14px;
  line-height: 17px;
  color: $additional-dark;
  border: 1px solid $line-grey;

  @media (max-width: $mobile-width) {
    margin-bottom: 20px;
  }

  &::placeholder {
    color: $additional-dark;
  }
}

.modal__button {
  margin: 0 auto;
  padding: 20px;
  width: 176px;
  border: none;

  @media (max-width: $mobile-width) {
    width: 288px;
  }
}

.modal__close {
  display: block;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 32px;
    height: 1px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba($basic-darkest, 0.2);
  }

  &::before {
    transform: rotate(-45deg);
  }

  &::after {
    transform: rotate(45deg);
  }
}

.modal__success-text {
  @include offset;
  max-width: 400px;
  margin: auto;
  font-size: 25px;
  line-height: 43px;
  font-weight: 500;
  text-align: center;
  color: $additional-dark;

  @media (max-width: $mobile-width) {
    padding: 20px;
  }
}
