// colors
$basic-white: #ffffff;
$basic-black: #000000;
$basic-dark: #2c2e3f;
$basic-darkest: #141517;
$basic-accent: #fe7865;
$basic-accent-hover: #f17d4b;
$bg-light-grey: #fbf8f8;
$dropdown-menu-links: #48494d;
$bg-intro: #7896ba;
$bg-places: #aed3db;
$feedback-shadow: #293642;
$line-grey: #d7d9df;
// viewports
$tablet-width: 1023px;
$mobile-width: 767px;
// z-index
$menu-dropdown: 100;
$menu-toggle: 110;
$places-link: 90;
$places-item-hover: 80;
$countries: 90;
$countries-image: 80;
